.carousel-inner
{
height: 500px;
width: 100%;
}
#img
{
    margin-top: 50px;
border-radius: 50%;
max-height:100px;
max-width: 100px;
object-fit: cover;
object-position: center;
}
.circle{
    height: 500px;
    width: 50%;
    text-align: center;
    margin-top: 50px;
    padding: 50px;

xitij
    {
        height:50%
    }
